@import "libs/bootstrap-reboot.min";
@import "libs/fonts";

@import "base/variables";
@import "base/mixins";

* {
    font-family: "NotoSansJP";
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.page-content {
    margin-top: 60px;
    margin-bottom: 300px;
}
h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 72px;
    text-align: center;
    color: #0874cc;
}
@import "blocks/enter";
@import "blocks/form-wrapper";
@import "blocks/form";
@import "blocks/btn";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/menu";
@import "blocks/contacts";
@import "blocks/form-profile";
@import "blocks/profile";
