@import "libs/bootstrap-reboot.min";
@import "libs/fonts";

@import "base/variables";
@import "base/mixins";

* {
    font-family: "NotoSansJP";
    margin: 0;
    padding: 0;
    outline: none !important;
}
html {
    overflow-x: hidden;
}
body {
    position: relative;
    overflow-x: hidden;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.page-content {
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
}
h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 72px;
    text-align: center;
    color: #0874cc;
    @include xs() {
        font-size: 35px;
        line-height: 45px;
    }
}
@import "blocks/btn";
@import "blocks/enter";
@import "blocks/form-wrapper";
@import "blocks/form";

@import "blocks/header";
@import "blocks/logo";
@import "blocks/menu";
@import "blocks/contacts";
@import "blocks/form-profile";
@import "blocks/profile";
@import "blocks/application";
@import "blocks/table";
@import "blocks/docs-preview";
@import "blocks/sotrudniki";
@import "blocks/form-search";
@import "blocks/pagination";
@import "blocks/act";
@import "blocks/modal";
@import "blocks/notification";
@import "blocks/info-table";
@import "blocks/chat-table";
@import "blocks/msg-item";
@import "blocks/burger";
@import "blocks/filter";
@import "blocks/media";
