.chat-table {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
    &.active {
        background: #e2f2ff;
        opacity: 1;
        visibility: visible;
        max-height: unset;
        padding: 20px 14px 20px 20px;
    }

    /* .chat-table__wrapper */

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    /* .chat-table__all-msg */

    &__all-msg {
        cursor: pointer;
        font-family: "NotoSansJP";
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        align-self: flex-end;
        position: relative;
        padding-left: 25px;
        &:before,
        &:after {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: #000;
        }
        &:before {
            width: 17px;
            height: 3px;
        }
        &:after {
            left: 7px;
            width: 3px;
            height: 17px;
        }
    }

    /* .chat-table__msg-list */

    &__msg-list {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
    }
    &__msg-send {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        textarea {
            font-family: 'NotoSansJP';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 17px;
            color: #000000;
            padding: 9px 20px;
            margin-right: 30px;
            border: none;
            flex: 1 0 auto;
            max-width: 978px;
            height: 75px;
            background: #ffffff;
            border-radius: 4px;
            resize: none;
        }
        .btn {
            width: 126px;
            height: 50px;
            font-size: 14px;
            line-height: 20px;
        }
    }
    @include xs() {
        &__msg-send {
            flex-direction: column;
            textarea {
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
}
