.enter {
    padding: 235px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url('../img/bg/mainBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}