.filter {
    /* .filter__title */

    &__title {
        font-family: "NotoSansJP";
        font-size: 24px;
        line-height: 35px;
        color: #000000;
        margin-bottom: 8px;
    }
}
.filter-form {
    input,
    select {
        width: 200px;
        height: 30px;
        background: #ffffff;
        border: 1px solid #e3e3e3;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 5px 15px;
    }
    input[type="text"] {
        width: 267px;
    }
    @include lg() {
        input[type="text"] {
            width: 210px;
        }
    }
    @include md() {
        input[type="text"],
        input[type="date"],
        select {
            width: 45%;
            margin-bottom: 10px;
            margin-right: 10px;
        }
    }
    @include xs() {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        input[type="text"],
        input[type="date"] {
            width: 100%;
        }
        

    }
}
