.form-wrapper {
    background-color: #fff;
    min-width: 566px;
    min-height: 451px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
