.profile {
    display: flex;
    margin-top: 40px;
    /* .profile__left */

    &__left {
        max-width: 300px;
        height: 444px;
        background: #ffffff;
        border: 1px solid #b1b1b1;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex: 1 0 300px;
        margin-right: 80px;
    }

    /* .profile__img */

    &__img {
        height: 228px;
        left: 376px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    /* .profile__descr */

    &__descr {
        height: 100%;
        padding: 7px 30px 34px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .btn {
        font-size: 18px;
        line-height: 26px;
        font-weight: normal;
    }
    /* .profile__name */

    &__name {
        font-size: 14px;
        line-height: 20px;
        color: #242424;
    }

    /* .profile__right */

    &__right {
        min-width: 592px;
    }

    /* .profile__form */

    @include lg() {
        &__right {
            min-width: unset;
        }
    }
    @include md() {
        flex-direction: column;
        align-items: center;
        &__left {
            margin-right: 0;
            margin-bottom: 30px;
            flex-direction: row;
            width: 100%;
            max-width: unset;
            flex: unset;
            height: 228px;
        }
        &__right {
            width: 100%;
        }
    }
    @include xs() {
        &__left {
            flex-direction: column;
            height: auto;
        }
        &__descr {
            & > * {
                margin-bottom: 10px;
            }
        }
        input[type='text'] {
            max-width: 100%;
        }
    }
}
